<h1>Restaurant details:</h1>

<p><strong>Restaurant name:</strong> <%= @restaurant.name %></p>
<p><strong>Restaurant address:</strong> <%= @restaurant.address %></p>

<p><strong>Our pizzas:</strong></p>
<ul>
    <% @restaurant.pizzas.each do |pizza| %>
        <li>
            <p><%= link_to pizza.name, pizza_path(pizza) %> pizza</p>
        </li>
    <% end %>
</ul>

<h3><%= link_to "Edit restaurant", edit_restaurant_path(@restaurant) %></h3>
<h3><%= link_to "Back to all restaurants", restaurants_path %></h3>